@tailwind base;
@tailwind components;
@tailwind utilities;
button:focus {
  outline: none;
  box-shadow: none;
}
input:-webkit-autofill {
  -webkit-background-clip: text;
}
.w-\[300px\] {
  width: 300px;
}
.h-\[350px\] {
  height: 350px;
}
.h-\[120px\] {
  height: 120px;
}
.h-\[300px\] {
  height: 300px;
}
.h-\[200px\] {
  height: 200px;
}
.w-\[340px\] {
  width: 340px;
}
.w-\[680px\] {
  width: 680px;
}

.col-span-2 {
  grid-column: span 2 / span 2;
}

.col-span-full {
  grid-column: 1/-1;
}

.row-span-1 {
  grid-row: span 1 / span 1;
}

.row-span-2 {
  grid-row: span 2 / span 2;
}

.row-span-4 {
  grid-row: span 4 / span 4;
}
@media (min-width: 768px) {
  .md\:col-span-1 {
    grid-column: span 1 / span 1;
  }

  .md\:col-span-2 {
    grid-column: span 2 / span 2;
  }

  .md\:p-8 {
    padding: 2rem;
  }

  .md\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 1280px) {
  .xl\:flex {
    display: flex;
  }

  .xl\:hidden {
    display: none;
  }

  .xl\:h-full {
    height: 100%;
  }

  .xl\:max-w-sm {
    max-width: 24rem;
  }

  .xl\:flex-row {
    flex-direction: row;
  }

  .xl\:gap-10 {
    gap: 2.5rem;
  }

  .xl\:overflow-y-auto {
    overflow-y: auto;
  }

  .xl\:px-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

  .xl\:py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}

/* .auto-rows-\[76px\] {
  grid-auto-rows: auto;
}
 */

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
